.navigation {
	position: sticky;
	top: 0;

	padding: 0 10%;

	min-height: 60px;
	width: 100%;

	background-color: #fff;

	box-shadow: rgba(0, 0, 0, 0.1) 0px -1px 0px 0px inset;
	-webkit-box-shadow: rgba(0, 0, 0, 0.1) 0px -1px 0px 0px inset;

	display: flex;
	align-items: center;
	justify-content: flex-end;

	z-index: 10;
}

.logo {
	margin-right: auto;
}

.logo svg {
	max-width: 100px;
}

.nav-links {
	position: absolute;
	top: 59.2px;
	left: 0;

	margin: 0;
	padding: 0 20% 1.5rem 20%;

	width: 100%;

	background-color: #fff;

	opacity: 0;

	transform: translateY(-100%);

	box-shadow: rgb(0 0 0 / 13%) 0px 2px 4px 0px;
	-webkit-box-shadow: rgb(0 0 0 / 13%) 0px 2px 4px 0px;

	display: flex;
	flex-direction: column;
	align-items: center;

	pointer-events: none;

	z-index: -1;
}

.nav-links li {
	margin: 1.5rem 0;

	list-style: none;
}

.nav-links li a {
	font-size: 0.9rem;
}

.nav-links li a:not(.contact-btn) {
	color: #676767;

	transition: 0.3s ease-out;
}

.nav-links li a:not(.contact-btn):hover {
	color: #000;
}

.contact-btn {
	padding: 0.5rem 1.5rem;
	border-radius: 1000px;

	color: #fff;

	background-color: blue;

	transition: 0.4s ease-out;
}

.contact-btn:hover {
	background-color: rgb(3, 3, 179);
}

.burger {
	width: 30px;
	height: 20px;

	display: flex;
	justify-content: space-between;
	flex-direction: column;

	transform: scale(0.8);

	cursor: pointer;
}

.burger div {
	width: 100%;
	height: 2px;

	background-color: #000;

	transition: all 0.4s ease;
}

/* Open Navigation */
.nav-open ul {
	opacity: 1;

	transform: translateY(0);

	pointer-events: all;
}

.nav-open .line-1 {
	transform: translateY(9px) rotate(45deg);
}

.nav-open .line-2 {
	opacity: 0;
}

.nav-open .line-3 {
	transform: translateY(-9px) rotate(-45deg);
}

@media screen and (min-width: 769px) {
	.navigation {
		min-height: 70px;
	}

	.nav-links {
		position: static;

		padding: 0;

		width: auto;

		background-color: transparent;

		box-shadow: none;

		opacity: 1;

		transform: none;

		flex-direction: row;

		pointer-events: all;

		z-index: 2;
	}

	.nav-links li {
		margin: 0 0 0 2.5rem;
	}

	.burger {
		display: none;
	}
}
