.hero {
	position: relative;

	padding: 5vh 10% 0 10%;

	min-height: calc(100vh - 60px);
	width: 100%;

	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: flex-start;
}

.title {
	margin-top: 4rem;

	font-size: 2.7rem;
}

.hero > p {
	color: #838383;
}

.img-container,
.img {
	pointer-events: none;
	user-select: none;
}

.img-container {
	margin: auto -10vw 0 -10vw;

	width: 100vw;
}

.img-mobile {
	max-width: 100%;

	display: block;
}

.img-desktop {
	display: none;
}

.button {
	margin-top: 1rem;
	padding: 0.5rem 1.5rem;
	border-radius: 1000px;

	color: #fff;
	text-align: center;

	background-color: #499660;

	transition: 0.4s ease-out;

	display: inline-block;
}

.button:hover {
	background-color: #377048;
}

@media screen and (min-width: 900px) and (max-width: 1199px) {
	.hero {
		min-height: calc(100vh - 70px);

		display: block;
	}

	.title {
		margin-top: 6.5rem;
		margin-bottom: 2rem;

		width: 60%;

		font-size: 5.5rem;
		line-height: 6.5rem;
	}

	.hero > p {
		max-width: 40%;
	}

	.button {
		margin-top: 1.5rem;
	}

	.img-container {
		position: absolute;
		bottom: 20%;
		right: 0;

		margin: 0;

		height: 60%;

		z-index: -1;
	}

	.img-desktop {
		position: absolute;
		top: 0;
		right: 0;

		max-height: 100%;

		display: block;
	}

	.img-mobile {
		display: none;
	}
}

@media screen and (min-width: 1200px) {
	.hero {
		min-height: calc(100vh - 70px);

		display: block;
	}

	.title {
		margin-top: 6.5rem;
		margin-bottom: 2.5rem;

		width: 60%;

		font-size: 5.5rem;
		line-height: 6.5rem;
	}

	.hero > p {
		max-width: 40%;
	}

	.button {
		margin-top: 1.5rem;
	}

	.img-container {
		position: absolute;
		bottom: 15%;
		right: 5%;

		margin: 0;

		height: 70%;

		z-index: -1;
	}

	.img-desktop {
		position: absolute;
		top: 0;
		right: 0;
		max-height: 100%;

		display: block;
	}

	.img-mobile {
		display: none;
	}
}
